doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Interna Oikos
		link(rel="stylesheet", type="text/css", href="http://www.oikos.com.co/constructora/css/estilos.css")
		link(rel="stylesheet", type="text/css", href="http://www.oikos.com.co/constructora/css/movile.css")
		link(rel="stylesheet", type="text/css", href="http://www.oikos.com.co/constructora/css/tablet.css")
		link(rel="stylesheet", type="text/css", href="http://www.oikos.com.co/constructora/css/escritorio.css")
		link(rel="stylesheet", type="text/css", href="http://www.oikos.com.co/constructora/css/boilerplate.css")
		link(rel="stylesheet", type="text/css", href="../css/estilos.css")
	body
		div#fondo_gris_cont
			div.Proy-vivDescMain
				h1.Proy-vivDescTitle
					|	PROYECTOS DE VIVIENDA
				div.Proy-vivDescContainer
					p.Proy-vivDesc
						|	Nuestra construcción de casas y apartamentos es la mejor solución para sus necesidades de vivienda.
					p.Proy-vivDesc
						|	Conozca nuestros proyectos aquí y haga su mejor elección.
			div.cont_cajas_proy_en_construccion

				a.Proy-vivItem(href="#")
					div.Proy-vivItemWhite
						figure.Proy-vivImageContainer
							img.Proy-vivImage(src="../images/proyectos-construccion-vivienda/oikos-infinitum.jpg")
						h3.Proy-vivTitle
							|	Oikos infinitum
						//- h3.Proy-vivTitle
						//- 	|	Casas Arrayan
						p.Proy-vivUbi
							|	Ciudad - 
							span.Proy-vivUbiBold
								|	Bogotá
						p.Proy-vivUbi
							|	Zona - 
							span.Proy-vivUbiBold
								|	Chapinero
						p.Proy-vivTitle2
							|	CASAS DESDE:
					p.Proy-vivPrice
						|	$185.000.000
					div.Proy-vivShadow
						span.Proy-vivShadowButton
							|	VER MÁS

				a.Proy-vivItem(href="#")
					div.Proy-vivItemWhite
						figure.Proy-vivImageContainer
							img.Proy-vivImage(src="../images/proyectos-construccion-vivienda/savanna-casa-nogal.jpg")
						h3.Proy-vivTitle
							|	Oikos infinitum
						//- h3.Proy-vivTitle
						//- 	|	Casas Arrayan
						p.Proy-vivUbi
							|	Ciudad - 
							span.Proy-vivUbiBold
								|	Bogotá
						p.Proy-vivUbi
							|	Zona - 
							span.Proy-vivUbiBold
								|	Chapinero
						p.Proy-vivTitle2
							|	CASAS DESDE:
					p.Proy-vivPrice
						|	$185.000.000
					div.Proy-vivShadow
						span.Proy-vivShadowButton
							|	VER MÁS

				a.Proy-vivItem(href="#")
					div.Proy-vivItemWhite
						figure.Proy-vivImageContainer
							img.Proy-vivImage(src="../images/proyectos-construccion-vivienda/savanna-casa-arrayan.jpg")
						h3.Proy-vivTitle
							|	CABO VERDE Casas Arrayan
						p.Proy-vivUbi
							|	Ciudad - 
							span.Proy-vivUbiBold
								|	Bogotá
						p.Proy-vivUbi
							|	Zona - 
							span.Proy-vivUbiBold
								|	Chapinero
						p.Proy-vivTitle2
							|	CASAS DESDE:
					p.Proy-vivPrice
						|	$185.000.000
					div.Proy-vivShadow
						span.Proy-vivShadowButton
							|	VER MÁS

				a.Proy-vivItem(href="#")
					div.Proy-vivItemWhite
						figure.Proy-vivImageContainer
							img.Proy-vivImage(src="../images/proyectos-construccion-vivienda/caboVerde-porto-novo.jpg")
						h3.Proy-vivTitle
							|	CABO VERDE Casas Arrayan
						p.Proy-vivUbi
							|	Ciudad - 
							span.Proy-vivUbiBold
								|	Bogotá
						p.Proy-vivUbi
							|	Zona - 
							span.Proy-vivUbiBold
								|	Chapinero
						p.Proy-vivTitle2
							|	CASAS DESDE:
					p.Proy-vivPrice
						|	$185.000.000
					div.Proy-vivShadow
						span.Proy-vivShadowButton
							|	VER MÁS

				a.Proy-vivItem(href="#")
					div.Proy-vivItemWhite
						figure.Proy-vivImageContainer
							img.Proy-vivImage(src="../images/proyectos-construccion-vivienda/bahia-casa-nogal.jpg")
						h3.Proy-vivTitle
							|	CABO VERDE Casas Arrayan
						p.Proy-vivUbi
							|	Ciudad - 
							span.Proy-vivUbiBold
								|	Bogotá
						p.Proy-vivUbi
							|	Zona - 
							span.Proy-vivUbiBold
								|	Chapinero
						p.Proy-vivTitle2
							|	CASAS DESDE:
					p.Proy-vivPrice
						|	$185.000.000
					div.Proy-vivShadow
						span.Proy-vivShadowButton
							|	VER MÁS
			div.Proy-vivButtonContainer
				div.Proy-vivButton
					span.Proy-vivButtonText
						|	VER PRÓXIMOS PROYECTOS
					img.Proy-vivButtonFlecha(src="../images/proyectos-construccion-vivienda/flecha-der.png")
			div.content-redes2
				a.bc_fb
					img(src="images/share-fb.png")
				a.bc_tw
					img(src="images/share-tw.png")
				a.bc_gp
					img(src="images/share-g.png")
			div.Proy-vivOtros
				h3.Proy-vivOtrosTitle
					|	OTROS PROYECTOS
				div#cont_general_btns_otros_tipos_proyecto_proyectos_general
					a.Proy-vivOtrosItem(href="#")
						img.Proy-vivOtrosImage(src="../images/proyectos-construccion-vivienda/build-1.jpg")
						div.Proy-vivOtrosItemTitleContainer
							h5.Proy-vivOtrosItemTitle
								|	Proyectos de vivienda
					a.Proy-vivOtrosItem(href="#")
						img.Proy-vivOtrosImage(src="../images/proyectos-construccion-vivienda/build-2.jpg")
						div.Proy-vivOtrosItemTitleContainer
							h5.Proy-vivOtrosItemTitle
								|	Proyectos Comerciales e industriales
					a.Proy-vivOtrosItem(href="#")
						img.Proy-vivOtrosImage(src="../images/proyectos-construccion-vivienda/build-3.jpg")
						div.Proy-vivOtrosItemTitleContainer
							h5.Proy-vivOtrosItemTitle
								|	Proyectos por contrataciones directas
